<h1>User</h1>


<div class="container">
    <div class="rows">
        <div class="col-md-12 col-offset-1 ">
            <form [formGroup]="questionform" (ngSubmit)="submit(questionform.questionId)">
                <div class="box inner"  *ngFor="let x of obj">
                             <!-- <div style="padding: 2rem; border:1px solid gray; margin-bottom:1rem;"> -->
                    Question:{{x.questionText}}<br>
                            <!-- <div class="form-group" id="questionId">   -->
                    <div class="form-group" >
                        <!-- <input formControlName="options" [id]="i" type="radio" [value]="bed.bed"> {{ bed.displayText }} -->
                        (1):<input type="radio"  formControlName="options"   [value]="1"> {{x.optionA}}
                        <!-- </div><div class="form-group">           -->
                        (2):<input type="radio"   formControlName="options"  [value]="2"> {{x.optionB}}
                        <!-- </div><div class="form-group">           -->
                        (3):<input type="radio"   formControlName="options"  [value]="3"> {{x.optionC}}
                        <!-- </div><div class="form-group">           -->
                        (4):<input type="radio"   formControlName="options"  [value]="4"> {{x.optionD}} 
                    </div>
                    Type:{{x.questionTag}}
                    <br>   
                    <input type="submit"class="btn btn-primary">
                </div>
            
           </form> 

            
        </div>
    </div>
</div>
