<ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">DO You want to delete this question?</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <pre> Question:-{{questionobj.questionText}}   
           1:{{questionobj.optionA}}
           2:{{questionobj.optionB}}
           3:{{questionobj.optionC}}
           4:{{questionobj.optionD}}
           </pre>
        </div>

        <div class="modal-footer">
                <button type="submit" class="btn btn-danger" (click)="confirmdelete()">Delete</button> 
        </div>
</ng-template>