<body>
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">
                  <h5 class="card-title text-center">Sign In</h5>
                  <form  [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                    <div class="form-label-group">
                            Role:<select formControlName="role">
                                    <option value="Admin">ADMIN</option>
                                    <option value="User">USER</option>
                                    </select>
                                    <br>
                    </div>
                    <div class="form-label-group">
                     USERNAME: <input type="text"  class="form-control" placeholder="Username" formControlName="user" >
                    </div>

      
                    <div class="form-label-group">
                      Password:<input type="password"   class="form-control" placeholder="Password" formControlName="pass">
                    </div>
      
                    <div class="custom-control custom-checkbox mb-3">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1">Remember password</label>
                    </div>
                    <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"  >Sign in</button>
                    <hr class="my-4">
                    <button class="btn btn-lg btn-signup btn-block text-uppercase" type="button" (click)="Navig()" ><i class="fab fa-facebook-f mr-2"></i>Signup/NEW User</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </body>

      <router-outlet></router-outlet>