<div>
        <div class="card" *ngFor="let c of filteredquestions;let i=index">
                <h5 class="card-header">Question {{i+1}}:<span class="pull-right">ID:{{c.questionId}}</span></h5>
                        <div class="card-body"> 
                                
                                <p class="card-text">{{c.questionText}}</p>
                                <form>
                                        <ol>
                                        <li class="card-text">{{c.optionA}}</li>
                                        <li class="card-text">{{c.optionB}}</li>
                                        <li class="card-text">{{c.optionC}}</li>
                                        <li class="card-text">{{c.optionD}}</li>
                                        </ol>
                                        <app-editmodal #edit ></app-editmodal>
                                                <button class="btn btn-lg btn-outline-primary" (click)="openeditquestion(c.questionId)">Edit</button>
                                        <app-deletemodal #delete></app-deletemodal>
                                                <button class="btn btn-lg btn-outline-danger" (click)="opendeletequestion(c.questionTypeId,c.questionId)" >Delete</button>
                                </form>
                                <span class="card-Text pull-right answere">ANSWERE:{{c.answerKey}}</span>
                        </div>
        </div>    
</div>

