.card{
    margin:20px;
}
.pull-right
{
    margin-left:960px;
    padding: 2px;
}
span{
    border: 2px solid gray;
    border-radius:8px;  
    background-color: rgba(219, 217, 208, 0.966);
width: 20px;
height: 30px;
}
.span,.answere{
    padding: 4px;
    margin-left:1009px;
}
.btn-outline-danger{
    margin-left:3px;
}