<body>
    <div class="container">
        <div class="form" id="form">
            <div class="front">
                <div class="left">
                    
                        <div class="title1">
                        Are you  a new user?
                        </div>
                        <button class="btn2" onclick="flip()">SIGNUP</button>
                    
                </div>
                <div class="right">
                    <input type="text"placeholder="Username"><br><br>
                    <input type="password" placeholder="Password"><br><br>
                    <button class="btn1" onclick="flip1()">LOGIN</button>
                    <a href="#">forgot password?</a>

                </div>
            </div>
            <div class="back">
                <input type="text" placeholder="Name">
                <br><br>
                <input type="email" placeholder="Email@asd.com"><br><br>
                <input type="password" placeholder="password"><br><br>
                <button class="btn1">Sign up</button>
                
            </div>
        </div>

    </div>
</body>
